A complete self contained notebook which explains and implements examples of all significant features of python

In [2]:
print("Hello, World!")

Hello, World!

Python is a dynamic and strongly typed language. Everything in python is a object just like java ? https://docs.python.org/3/reference/datamodel.html

Variable assignment."=" is a assignment operator .A variable can be reassigned to any object.

In [3]:
a = 1

In [4]:
print(a, " ; " ,type(a))

1  ;  <class 'int'>

In [5]:
a = "Hello"

In [6]:
print(a, " ; " ,type(a))

Hello  ;  <class 'str'>

Python uses indentation. Wrong indentation can give errors

Functions

In [7]:
def add(a : int, b : int) -> int:
    return a + b# returns the sum of a and b

In [8]:
add(1, 2)

3

The returned value can be stored in a variable

In [9]:
sum = add(3, 4)

In [10]:
sum

7

Here python implicitly returns None object

In [11]:
def greet(name :str) -> None:
    print(f"Hello, {name}")

In [12]:
greet("Anirudh")

Hello, Anirudh

In [13]:
null = greet("Anirudh")

Hello, Anirudh

In [14]:
print(null)

None

In [15]:
#this is a comment in python. these are not considered while interpretations. They can be only single line

Python does not support multi line comments ??

Functions can be described using doc strings.(https://peps.python.org/pep-0257/)

In [16]:
def mul(a : int, b : int) -> int:
    """
    Takes in two integers and returns their product
    """
    return a * b

In [17]:
mul(3, 4)

12

In [18]:
mul.__doc__#returns the doc string of the function

'\n    Takes in two integers and returns their product\n    '

Python has many number types
(1) Integere (int)
(2) Floating point numbers (float)
(3) Complex
(4) Fraction(fractions.Fraction)
(5) Decimal(decimal.Decimal)
(6) Binary(bin())
(7) Octal (oct())
(8) Hexadecimal (hect())

In [19]:
a : int = 1

In [20]:
b : int = 2

Integers in python have arbitray precision. They are only limited by the host system

In [21]:
a + b

3

In [22]:
a - b

-1

In [23]:
a * b

2

division always returns a float

In [24]:
a / b

0.5

In [25]:
a // b

0

In [26]:
a % b

1

Floats are implemented using "double" in C

In [27]:
pi : float = 3.14

When a lower number type is in a arithmetic op with higher number type then the lower number type is convert to higher number type automatically by python

int + float => float + float

In [28]:
a + pi

4.140000000000001

Converting a int to float and vice versa

In [29]:
int(pi)

3

In [30]:
float(a)

1.0

bool is a subtype of int

In [31]:
b1 : bool = True

In [32]:
b2 : bool = False

Boolean operator and, or, not

In [33]:
b1 and b2

False

In [34]:
b1 or b2

True

In [35]:
not b1

False

Comparison Operators

They all have the same priority (which is higher than that of Boolean operations, but lower than that of arithmetic or bitwise operations).

In [36]:
1 > 2

False

In [37]:
1 < 2

True

In [38]:
1 == 1

True

In [39]:
1 != 1

False

In [40]:
1 >= 2

False

In [41]:
2 <= 1

False

In [42]:
type(1) is int

True

In [43]:
type(1) is not str

True

In [44]:
1 in [1, 2, 3]

True

In [45]:
1 not in [1, 2, 3]

False

Control Flow

In [46]:
num : int = 5

In [47]:
if num % 2 == 0:
    print("Even")

else:
    print("Odd")

Odd

Python versions 3.9 and below don't have a feature like switch statement. Python versions 3.9 and above have something called "structural pattern matching". They are implemented using the macth statement

In [48]:
type("Hello, World")

str

Strings : a collection of immutable unicode points

In [49]:
name : str = "Anirudh"

Both '' and "" can be used to declare strings

In [50]:
greeting : str = 'Hello, '

Operations which appear to change the string usually return a new strings with required changes

In [51]:
greeting += name
print(greeting)

Hello, Anirudh

If you want  to use " or  ' as part of a string you have to escape character "\" before them to not confuse the python interpreter

In [52]:
print("Hello this is an \"AI\" ")

Hello this is an "AI"

Other escape sequences 
(1) \n - newline
(2) \t - tabspace
(3) \\ - to print \

In [53]:
print("Hello this is human \n But this maybe an \t AI \\")

Hello this is human
 But this maybe an 	 AI \

In [54]:
print('''
Multi
line
string

''')

Multi
line
string

In [55]:
print("""
Multi 
Line 
Stirng
""")

Multi
Line
Stirng

String concatenation (combining two strings). It is not efficient ???

In [56]:
"Hello" + " World"

'Hello World'

Combining elements of a any iterable to a string

In [57]:
lst = ["Hello", "World", "Earth"]

In [58]:
"".join(lst)

'HelloWorldEarth'

You can describe the seperator element in the ""

In [59]:
" ; ".join(lst)

'Hello ; World ; Earth'

Strings can be indexed just like lists

In [60]:
a = "Hello"

In [61]:
a[0]

'H'

In [62]:
a[-1]

'o'

In [63]:
a[2]

'l'

There is no seperate character or rune type in python. Indexing produces a string

In [64]:
type(a[0])

str

String slicing

In [65]:
a[:]#all the string

'Hello'

In [66]:
a[:3]#from the start till the 3rd character(3rd character is not included)

'Hel'

In [67]:
a[2:]#from the second character till the end(second charcater is included)

'llo'

[2, 4)

In [68]:
a[2:4]

'll'

The third element is the step. It tells how many characters to skip after using the current character

In [69]:
a[::2]

'Hlo'

The step element can be used to reverse the string

In [70]:
a[::-1]

'olleH'

To split the string based on a delimeter

In [71]:
a = "Hello, World"

string.split() returns a list of strings

In [72]:
a.split(",")

['Hello', ' World']

In [73]:
a.split()#by default the split is done over a space

['Hello,', 'World']

Strings support all common sequence operations.(https://docs.python.org/3/library/stdtypes.html#common-sequence-operations)

That means we can iterate over a string using the for loop

looping for non english characters ????

In [74]:
for i in a:
    print(i, end=" ")#by default print(i, end="\n")

H e l l o ,   W o r l d

To access the element's position and the element

In [75]:
for index, char in enumerate(a):
    print(index, char)

0 H
1 e
2 l
3 l
4 o
5 ,
6
7 W
8 o
9 r
10 l
11 d

In [76]:
a = "hello, world!"

In [77]:
a.title()#capitalizes the starting letters of words in the string

'Hello, World!'

In [78]:
a.upper()#converts all letters to upper case

'HELLO, WORLD!'

In [79]:
a.lower()#converts all letters to lower case

'hello, world!'

To check is a string has a suffix

In [80]:
a.endswith('orld')

False

In [81]:
a.endswith('orld!')

True

In [82]:
a = "   hello, world   "

In [83]:
a.strip()#removes spaces from the start and the end

'hello, world'

In [84]:
a.rstrip()#removes spaces only on the right side

'   hello, world'

In [85]:
a.lstrip()#removes spaces only on the left side

'hello, world   '

string.strip(str)????

In [86]:
a.replace("world", "universe")

'   hello, universe   '

Lists = a dynamic size and mutable linear data structure

In [87]:
lst = [1, 'a', True]

In [88]:
lst[0]

1

In [89]:
lst[-1]

True

In [90]:
lst[:1]

[1]

In [91]:
lst[1:]

['a', True]

In [92]:
lst[:]

[1, 'a', True]

In [93]:
lst[::-1]

[True, 'a', 1]

In [94]:
lst[:2:2]

[1]

In [95]:
lst.reverse()# reverses the list in place

In [96]:
lst1 = [3, 2, 1]

In [97]:
lst1.sort()#can be used only on homogeneous lists(lists with all elements of same type)

In [98]:
lst1

[1, 2, 3]

List Declarations

In [99]:
lst2 = []

In [100]:
lst3 = list()

In [101]:
lst2.append(4)#adds the element to the end of the list

In [102]:
lst2.insert(0, 0)#insert(poisition, element)

In [103]:
lst2

[0, 4]

In [104]:
lst2.pop()#removes the last element and returns it

4

In [105]:
lst2.append(3)

In [106]:
lst2.append(4)

In [107]:
lst2.pop(2)#removes the 2nd element and returns it and if the index is greater than length of the list IndexError is thrown

4

In [108]:
lst2

[0, 3]

In [109]:
lst4 = [i for i in range(9)]

In [110]:
lst4

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [111]:
lst4[::2]

[0, 2, 4, 6, 8]

In [112]:
lst4[1::2]

[1, 3, 5, 7]

Max element in the list

In [113]:
max(lst4)

8

Min element in the list

In [114]:
min(lst4)

0

In [115]:
lst4

[0, 1, 2, 3, 4, 5, 6, 7, 8]

Sum of all elements in the list

In [116]:
#sum(lst4)

Number of elements in the list

In [117]:
len(lst4)

9

list() constructor only takes in iterbales

Convert a string to list of characters

In [118]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [119]:
dict1 = {"first" : 1, "second" : 2}

In [120]:
list(dict1)

['first', 'second']

In [121]:
lst5 = [num for num in range(9, 19)]

List concatenation

In [122]:
lst4 + lst5

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

A list can be iterated over a for loop

In [123]:
for i in lst5:
    print(i, end=" , ")

9 , 10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 ,

Extending a list by attaching another list on its tail

In [124]:
lst4

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [125]:
lst4.extend(lst5)

In [126]:
lst4

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

Removing a item from a list. If the item is not in the list ValueError is thrown

In [127]:
lst4.remove(2)

In [128]:
lst4

[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [129]:
lst4.clear()#deletes all elements in the list

In [130]:
lst5.reverse()#reverses the list in place

In [131]:
lst5

[18, 17, 16, 15, 14, 13, 12, 11, 10, 9]

In [132]:
lst5.sort(reverse=True)#sort the list in descending order

In [133]:
lst5

[18, 17, 16, 15, 14, 13, 12, 11, 10, 9]

To find how many times a element appears in a list

In [134]:
lst5.count(18)

1

In [135]:
lst5.count(0)

0

To find the index of element in a list. If the element is not in the list a ValueError is thrown

In [136]:
lst5.index(18)

0

In [137]:
lst5

[18, 17, 16, 15, 14, 13, 12, 11, 10, 9]

In [138]:
lst5.sort()

In [139]:
lst5

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

while loop

In [140]:
num = 10

In [141]:
while num > 0:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

range() objects are lazy (values are generated on request), support all common sequence operations, and take up a fixed amount of memory, no matter how long the sequence specified.

In [142]:
start, stop, step = 0, 100, 10

In [143]:
for i in range(start, stop,step):
    print(i)

0
10
20
30
40
50
60
70
80
90

continue - go to the next iteration, break - stop immediately, pass - do nothing

In [144]:
for i in range(30):
    if i % 3 == 0: continue
    if i % 5 == 0: pass 
    if i == 23: break
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22

Tuple = list but immutable . Tuples support all common sequence operations. Tuples can also be sliced

In [145]:
a = (1, "A", True)

In [146]:
a

(1, 'A', True)

In [147]:
type(a)

tuple

In [148]:
tuple(lst5)

(9, 10, 11, 12, 13, 14, 15, 16, 17, 18)

In [149]:
tuple("Hello, World")

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd')

In [150]:
t1 = tuple(lst5) + tuple("Hello, World")

In [151]:
1 in t1

False

In [152]:
for index, val in enumerate(t1):
    print(index, val)

0 9
1 10
2 11
3 12
4 13
5 14
6 15
7 16
8 17
9 18
10 H
11 e
12 l
13 l
14 o
15 ,
16
17 W
18 o
19 r
20 l
21 d

In [153]:
for i in t1:
    print(i)

9
10
11
12
13
14
15
16
17
18
H
e
l
l
o
,

W
o
r
l
d

In [154]:
(1)

1

In [155]:
type(t1[0:])

tuple

In [156]:
str(t1)

"(9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 'H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd')"

In [157]:
input_data = (
                ('Scrimshawed Whale Tooth', '2A', 'Deserted Docks', ('2', 'A'), 'Blue'),
                ('Brass Spyglass', '4B', 'Abandoned Lighthouse', ('4', 'B'), 'Blue'),
                ('Robot Parrot', '1C', 'Seaside Cottages', ('1', 'C'), 'Blue'),
                ('Glass Starfish', '6D', 'Tangled Seaweed Patch', ('6', 'D'), 'Orange'),
                ('Vintage Pirate Hat', '7E', 'Quiet Inlet (Island of Mystery)', ('7', 'E'), 'Orange'),
                ('Pirate Flag', '7F', 'Windswept Hilltop (Island of Mystery)', ('7', 'F'), 'Orange'),
                ('Crystal Crab', '6A', 'Old Schooner', ('6', 'A'), 'Purple'),
                ('Model Ship in Large Bottle', '8A', 'Harbor Managers Office', ('8', 'A'), 'Purple'),
                ('Angry Monkey Figurine', '5B', 'Stormy Breakwater', ('5', 'B'), 'Purple'),
                ('Carved Wooden Elephant', '8C', 'Foggy Seacave', ('8', 'C'), 'Purple'),
                ('Amethyst  Octopus', '1F', 'Aqua Lagoon (Island of Mystery)', ('1', 'F'), 'Yellow'),
                ('Antique Glass Fishnet Float', '3D', 'Spiky Rocks', ('3', 'D'), 'Yellow'),
                ('Silver Seahorse', '4E', 'Hidden Spring (Island of Mystery)', ('4', 'E'), 'Yellow')
        )

In [158]:
def clean_up(combined_record_group):
    """Clean up a combined record group into a multi-line string of single records.

    :param combined_record_group: tuple - everything from both participants.
    :return: str - everything "cleaned", excess coordinates and information are removed.

    The return statement should be a multi-lined string with items separated by newlines.

    (see HINTS.md for an example).
    """
    res = ""
    for data in combined_record_group:
        new_lst = [data[0]]+ list(data[2:])
        res = str(tuple(new_lst)) + "\n"

    return res

In [159]:
clean_up(input_data)

"('Silver Seahorse', 'Hidden Spring (Island of Mystery)', ('4', 'E'), 'Yellow')\n"

Sorting a dictionary ???

Combining two dictionaries

Unpacking

In [160]:
a, *b = lst5

In [161]:
a

9

In [ ]:
b

[10, 11, 12, 13, 14, 15, 16, 17, 18]

In [163]:
type(b)

list

In [164]:
a, *b, c, d = lst5

In [165]:
a

9

In [166]:
b

[10, 11, 12, 13, 14, 15, 16]

In [167]:
c

17

In [168]:
d

18

Packing and Unpacking Dictionaries

In [169]:
def generate_seats(number):
    """Generate a series of identifiers for airline seats.

    :param number: int - total number of seats to be generated.
    :return: generator - generator that yields seat numbers.

    A seat number consists of the row number and the seat letter.

    There is no row 13.
    Each row has 4 seats.

    Seats should be sorted from low to high.

    Example: 3C, 3D, 4A, 4B

    """
    row_num = 1
    seat_num = 0
    for _ in range(number):
        yield f"{row_num}{chr(ord('A') + seat_num)}"
        if seat_num == 3:
            seat_num = -1
            row_num += 1
        seat_num += 1

In [170]:
generate_seats(56)

In [171]:
for i in generate_seats(56):
    print(i)

1A
1B
1C
1D
2A
2B
2C
2D
3A
3B
3C
3D
4A
4B
4C
4D
5A
5B
5C
5D
6A
6B
6C
6D
7A
7B
7C
7D
8A
8B
8C
8D
9A
9B
9C
9D
10A
10B
10C
10D
11A
11B
11C
11D
12A
12B
12C
12D
13A
13B
13C
13D
14A
14B
14C
14D

In [172]:
a = [1, 1, 2]

In [173]:
a.remove(1)

In [174]:
a

[1, 2]

In [175]:
hash((1, 2))

-3550055125485641917

String isalnum() , isalpha(), isdigit(), islower(),isupper()???

In [177]:
strng = "bscnksbcjscksbcjksbckjdscsbdcbsdkjbcsdjcbsdjkcbsdkjbckjdsbjksd"

In [178]:
def wrap(string, max_width):
    res = ""
    curr = 0
    for char in string:
        res += char
        curr += 1
        if curr == 4:
            res += "\n"
            curr = 0
            
    return res

In [179]:
strng2 = wrap(strng, 9)

In [180]:
print(strng2)

bscn
ksbc
jsck
sbcj
ksbc
kjds
csbd
cbsd
kjbc
sdjc
bsdj
kcbs
dkjb
ckjd
sbjk
sd